.rightContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    width: 80%;
    height: 100%;
    overflow: hidden auto;
    background-color: white;
    position: relative;
}

.viewOptions {
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 0px 20px;
    height: 50px;
    max-height: 10%;
    width: 100%;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.viewOptions > button {
    margin-right: 10px;
}

.gridIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-right: 10px;
    width: 24px;
    height: 24px;

    background: url("../../../public/images/grid.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;

    border-radius: 5px;
    cursor: pointer;
}

.gridIcon {
    height: 24px;
    width: 24px;
    background: url("../../../public/images/grid.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}

.iconShadow {
    box-shadow: 0px 0px 0px 3px black;
}

.listIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 24px;
    height: 24px;

    background: url("../../../public/images/list.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;

    border-radius: 5px;
    cursor: pointer;
}

.listIcon {
    height: 24px;
    width: 24px;
}
.productCount {
    padding: 0px 20px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    letter-spacing: 0.7px;
    font-size: 14px;
}

.line {
    padding: 0px 20px;
    width: 50%;
}

.filterDropwdown {
    width: 25%;
    display: flex;
    align-items: center;
}

.filterDropwdown > div {
    text-align: center;
    margin-right: 10px;
}

.filter {
    border: none;
    width: 65%;
    background-color: rgb(242, 243, 244);
}

.productsContainer {
    display: flex;
    position: absolute;
    top: 60px;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    overflow: hidden auto;
}

.productsGrid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    grid-gap: 10px;
    height: 90%;
    width: 100%;
}

.productGridBox {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 32%;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.productGridBox > img {
    height: 80%;
    width: 80%;
}

.productGridBox:hover {
    background-color: rgb(242, 243, 244);
    box-shadow: 0px 0px 10px 1px rgb(209, 212, 214);
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.gridImage {
    height: 200px;
    width: 100%;
    margin: 5px;
    border-radius: 8px;
}

.gridProductDetails {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.productPrice {
    font-size: 16px;
    color: green;
}

.productsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.productListBox {
    display: flex;
    height: 240px;
    margin-bottom: 10px;
    width: 95%;
}

.productListBox:hover {
    background-color: rgb(242, 243, 244);
    box-shadow: 0px 0px 10px 1px rgb(209, 212, 214);
    border-radius: 5px;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.listImageContainer {
    height: 220px;
    width: 30%;
    margin: 5px;
    border-radius: 8px;
}

.listImageContainer > img {
    height: 100%;
    width: 85%;
}

.listProductDetails {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 70%;
    margin: 5px;
    padding: 3px 10px 3px 40px;
    align-items: start;
}

.product {
    color: black;
}

.productName {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.price {
    font-size: 15px;
    color: green;
}

.description {
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-align: left;
}

.openDetailsBox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    padding: 3px 5px 3px 8px;
    background-color: green;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 1500px) {
    .productCount {
        width: 25%;
        padding: 0 10px;
    }
    .line {
        width: 25%;
    }
    .productGridBox {
        width: 45%;
    }
}
