.rightContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 20px;
    width: 76%;
    height: 100%;
    overflow: hidden auto;
    /* overflow-y: scroll; */
    background-color: white;
}

.viewOptions {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 10px;
    padding: 0px 20px;
    height: 60px;
    min-width: 75%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.gridIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-right: 10px;
    width: 24px;
    height: 24px;

    background: url("../../../public/images/grid.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;

    border-radius: 5px;
    cursor: pointer;
}

.gridIcon {
    height: 24px;
    width: 24px;
    background: url("../../../public/images/grid.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}

.iconShadow {
    box-shadow: 0px 0px 0px 3px black;
}

.listIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 24px;
    height: 24px;

    background: url("../../../public/images/list.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;

    border-radius: 5px;
    cursor: pointer;
}

.listIcon {
    height: 24px;
    width: 24px;
}
.productCount {
    margin: 0px 30px 0px 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    letter-spacing: 0.7px;
    font-size: 14px;
}

.line {
    margin: 0px 30px 0px 30px;
    width: 50%;
    padding-top: 10px;
}

.filterDropwdown {
    margin: 0px 30px 0px 30px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.filter {
    border: none;
}

.productsContainer {
    display: flex;
    height: 100vh;
    min-width: 75%;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
    padding: 50px 20px;
    overflow: hidden auto;
}

.productsGrid {
    display: grid;
    flex-direction: row;
    align-items: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 90%;
    margin: 10px;
}

.productGridBox {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 390px;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.productGridBox:hover {
    box-shadow: 0px 0px 10px 1px gray;
    cursor: pointer;
    border-radius: 5px;
}

.gridImage {
    height: 200px;
    width: 385px;
    margin: 5px;
    border-radius: 8px;
}

.gridProductDetails {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: space-evenly;
}

.productPrice {
    font-size: 16px;
    color: green;
}

.productsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    margin: 10px;
    padding: 10px;
}

.productListBox {
    display: flex;
    height: 250px;
    width: 1260px;
}

.listImage {
    height: 200px;
    width: 350px;
    margin: 5px;
    border-radius: 8px;
}

.listProductDetails {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 1000px;
    margin: 5px;
    padding: 3px 10px 3px 40px;
    align-items: start;
}

.product {
    color: black;
}

.productName {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.price {
    font-size: 15px;
    color: green;
}

.description {
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    color: gray;
    text-align: left;
}

.openDetailsBox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 30px;
    width: 80px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    padding: 3px 5px 3px 8px;
    background-color: green;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
