.rightContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 20px;
    width: 1460px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
}

.viewOptions {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 0px 20px;
    height: 60px;
    width: 1360px;
    border: 1px solid #ebf0f5;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.gridIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 24px;
    height: 24px;
    
    background: url("../../../public/images/grid.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    
    border: solid 1px #ebf0f5;
    border-radius: 5px;
    cursor: pointer;
}

.gridIcon {
    height: 24px;
    width: 24px;
    background: url("../../../public/images/grid.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}

.listIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 24px;
    height: 24px;
    
    background: url("../../../public/images/list.png") no-repeat;
    background-size: 100%;
    background-position: center;
    background-blend-mode: lighten;
    background-repeat: no-repeat;

    border: solid 1px #ebf0f5;
    border-radius: 5px;
    cursor: pointer;
}

.listIcon {
    height: 24px;
    width: 24px;
    
}
.productCount {
    margin: 0px 30px 0px 30px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    letter-spacing: 0.7px;
}

.line {
    margin: 0px 30px 0px 30px;
    width: 50%;
    padding-top: 10px;
}

.filterDropwdown {
    margin: 0px 30px 0px 30px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.productsContainer {
    display: flex;
    height: 100vh;
    width: 1360px;
    border: 1px solid #ebf0f5;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
    padding: 20px 20px;
}

.productsGrid{
    display: grid;
    flex-direction: row;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    height: 90%;
    margin: 10px;
}

.productGridBox {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 390px;
    /* background-color: rgb(113, 216, 113); */
    align-items: center;
    justify-content: center;
    margin: 2px
}

.productGridBox:hover {
    box-shadow: 0px 0px 3px 5px gray;
    cursor: pointer;
}

.gridImage {
    height: 200px;
    width: 385px;
    margin: 5px;
    border-radius: 8px;
}

.gridProductDetails {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.productsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin: 10px;
}

.productListBox {
    display: flex;
    height: 250px;
    width: 1260px;
    background-color: rgb(134, 185, 185);
}

.listImage {
    height: 200px;
    width: 350px;
    margin: 5px;
    border-radius: 8px;
}

.listProductDetails {
    
}

.product {
    color: black;
}