.headerContainer {
    display: flex;
    margin: 0px;
    padding: 30px 60px 30px 80px;
    width: 100vw;
    max-height: 10%;
    color: white;
    align-items: center;
    background-color: rgb(171 233 202);
}

.headerText {
    font-size: 30px;
    font-weight: 700;
}

.breadCrumb:hover {
    cursor: pointer;
    text-decoration: underline;
}

.breadCrumb {
    color: rgb(77, 134, 31);
    cursor: pointer;
}

.slash {
    color: rgb(95, 156, 45);
}
