.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-height: 8%;
    bottom: 0;
    background-color: black;
    color: white;
    position: absolute;
}

.footerText {
    font-weight: 400;
    font-size: 20px;
}

.greentext {
    color: green;
}
