.productDetailsWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 84%;
}

.backButtonWrapper {
    display: flex;
    min-width: 200px;
    padding-block: 20px;
    padding-inline: 110px;
    max-height: 20%;
}

.backButton {
    display: flex;
    flex-direction: row;

    height: 30px;
    width: 180px;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 3px 5px 3px 20px;
    background-color: green;
}

.productDetailsContainer {
    display: flex;
    padding-block: 20px;
    padding-inline: 110px;
    overflow: hidden;
    max-height: 90%;
}

.imagesContainer {
    padding: 10px;
    width: 36%;
}
/* trying to limit the height of react image gallery component */
.imagesContainer > .image-gallery-content .bottom {
    width: 40%;
    height: 100%;
}
.image-gallery {
    width: 400px;
}
.detailsContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 52%;
    font-size: 15px;
    align-items: start;
}

.detailsContainer > div {
    margin: 10px;
    padding-left: 20px;
}
.detailsContainer:nth-child(4) {
    height: 100px;
    color: aquamarine;
}
.productName {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.productDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.productRating {
    font-size: medium;
    font-weight: 400;
    color: black;
}

.productDescription {
    height: 80px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
    text-align: left;
}

.pairBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 250px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.productText {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    align-items: center;
    font: 12px;
    font-weight: 400;
    color: gray;
}

.productPrice {
    font-size: 20px;
    color: green;
}

.type {
    font-size: large;
    color: black;
}

.line {
    width: 100%;
    padding-top: 10px;
}

@media (max-width: 1500px) {
    .backButtonWrapper {
        padding-block: 10px;
    }
    .productDetailsContainer {
        padding-block: 10px;
    }
}
